<!--
 * @Date: 2023-09-05 13:56:58
 * @LastEditors: admin@54xavier.cn
 * @LastEditTime: 2024-03-16 22:20:51
 * @FilePath: \electron-hiprint\assets\set.html
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://registry.npmmirror.com/element-ui/2.15.14/files/lib/theme-chalk/index.css"
    />
    <script src="https://registry.npmmirror.com/vue/2.7.16/files/dist/vue.min.js"></script>
    <script src="https://registry.npmmirror.com/element-ui/2.15.14/files/lib/index.js"></script>
    <script src="https://registry.npmmirror.com/dayjs/1.11.10/files/dayjs.min.js"></script>
    <script src="https://registry.npmmirror.com/lodash/4.17.21/files/lodash.min.js"></script>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        user-select: none;
      }

      #app {
        padding: 12px 22px;
      }

      .el-form-item {
        margin-bottom: 8px;
      }

      .el-form--label-top .el-form-item__label {
        padding: 0;
      }

      .el-select,
      .el-button {
        width: 100%;
      }

      /* 隐藏滚动条，但仍然可以滚动 */
      .hide-scrollbar {
        -ms-overflow-style: none; /* IE 和 Edge */
        scrollbar-width: none; /* Firefox */
      }

      /* 在内容高度足够时显示滚动条，否则隐藏 */
      .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari 和 Opera */
      }
    </style>
    <title>设置</title>
  </head>

  <body class="hide-scrollbar">
    <div id="app">
      <el-form v-model="formData" label-position="top" :rules="rules">
        <!-- 端口设置 -->
        <el-form-item label="端口设置" prop="port">
          <el-input
            v-model="formData.port"
            size="small"
            placeholder="请输入10000-65535之间的端口号(17521)"
          ></el-input>
        </el-form-item>
        <!-- TOKEN 设置 -->
        <el-form-item label="TOKEN 设置" prop="token">
          <el-input
            v-model="formData.token"
            size="small"
            placeholder="请输入5-32个字符作为TOKEN"
          ></el-input>
        </el-form-item>
        <!-- 插件版本 设置 -->
        <el-form-item label="插件版本设置" prop="pluginVersion">
          <el-select v-model="formData.pluginVersion" filterable size="small">
            <template v-for="option in versions">
              <el-option
                :key="option.version"
                :label="option.version"
                :value="option.version"
              >
                <span>{{ option.version }}</span>
                <span style="float: right;color: #8492a6;"
                  >{{ option.updateTime }}</span
                >
              </el-option>
            </template>
          </el-select>
        </el-form-item>
        <!-- 开机启动设置 -->
        <el-row :gutter="12">
          <el-col :span="16">
            <el-form-item label="开机启动" prop="openAtLogin">
              <el-switch v-model="formData.openAtLogin"></el-switch>
              <span>(请注意杀毒软件拦截)</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="自启后最小化" prop="openAsHidden">
              <el-switch v-model="formData.openAsHidden"></el-switch>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- 连接中转服务开关 -->
        <el-form-item
          label="连接中转服务(node-hiprint-transit)"
          prop="connectTransit"
        >
          <el-switch
            v-model="formData.connectTransit"
            @change="onChange"
          ></el-switch>
        </el-form-item>
        <template v-if="formData.connectTransit">
          <!-- 中转服务 token 设置 -->
          <el-form-item label="服务器地址" prop="transitUrl">
            <el-input
              v-model="formData.transitUrl"
              size="small"
              placeholder="请输入中转服务地址"
            ></el-input>
          </el-form-item>
          <el-row :gutter="12">
            <el-col :span="18">
              <!-- 中转服务 token 设置 -->
              <el-form-item label="TOKEN 设置" prop="transitToken">
                <el-input
                  v-model="formData.transitToken"
                  size="small"
                  placeholder="请输入中转服务 TOKEN"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <!-- 测试中转服务 连接 -->
              <el-form-item label="连通性测试">
                <el-button class="transitTest" size="small" @click="handleTest">
                  测试
                </el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </template>
        <!-- 允许通知 设置 -->
        <el-form-item label="允许通知" prop="allowNotify">
          <el-switch v-model="formData.allowNotify"></el-switch>
        </el-form-item>
        <!-- 关闭窗口 设置 -->
        <el-form-item label="关闭主窗口" prop="closeType">
          <el-radio-group v-model="formData.closeType">
            <el-radio label="tray">最小化到托盘</el-radio>
            <el-radio label="quit">退出程序</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- 按钮组 -->
        <el-form-item>
          <el-row :gutter="12">
            <el-col span="12">
              <el-button type="primary" size="small" @click="submit"
                >应用</el-button
              >
            </el-col>
            <el-col span="12">
              <el-button size="small" @click="close">关闭</el-button>
            </el-col>
          </el-row>
        </el-form-item>
      </el-form>
    </div>
    <script type="text/javascript">
      const { ipcRenderer } = require("electron");
      const Store = require("electron-store");
      const store = new Store();

      let ipc = ipcRenderer;
      new Vue({
        el: "#app",
        data: () => {
          return {
            formData: {
              port: 17521,
              token: "",
              pluginVersion: "",
              openAtLogin: false,
              openAsHidden: false,
              connectTransit: false,
              transitUrl: "",
              transitToken: "",
              allowNotify: false,
              closeType: "tray",
            },
            versions: [],
            rules: {
              port: [
                {
                  required: true,
                  message: "端口号不能为空",
                  trigger: "blur",
                },
                {
                  type: "number",
                  message: "端口号必须为数字",
                  trigger: "blur",
                },
                {
                  min: 10000,
                  max: 65535,
                  message: "端口号必须在10000-65535之间",
                  trigger: "blur",
                },
              ],
              token: [
                {
                  minlength: 5,
                  maxlength: 32,
                  message: "只能输入5-32个字符作为TOKEN",
                  trigger: "blur",
                },
              ],
              transitUrl: [
                {
                  required: true,
                  message: "中转服务器地址不能为空",
                  trigger: "blur",
                },
              ],
              transitToken: [
                {
                  required: true,
                  message: "中转服务 Token 不能为空",
                  trigger: "blur",
                },
              ],
            },
          };
        },
        created() {
          ipc.send("getConfig");
          ipc.on("onConfig", this.onConfig);
          this.getVersions();
        },
        methods: {
          onChange(val) {
            if (val) {
              ipc.send("setContentSize", {
                width: 400,
                height: 862,
              });
            } else {
              ipc.send("setContentSize", {
                width: 400,
                height: 686,
              });
            }
          },
          handleTest() {
            ipc.send("testTransit", {
              url: this.formData.transitUrl,
              token: this.formData.transitToken,
            });
          },
          submit() {
            ipc.send("setConfig", this.formData);
          },
          close() {
            ipc.send("closeSetWindow");
          },
          onConfig(event, data) {
            this.formData = data;
            this.onChange(data.connectTransit);
          },
          getVersions() {
            const xhr = new XMLHttpRequest();
            // cnpm 源
            xhr.open(
              "GET",
              "https://registry.npmmirror.com/vue-plugin-hiprint"
            );
            xhr.onload = () => {
              if (xhr.status === 200) {
                this.npmInfo = JSON.parse(xhr.responseText);
                this.versions = _.orderBy(
                  _.map(this.npmInfo.versions, ({ version }) => ({
                    version,
                    time: dayjs(this.npmInfo.time[version]).valueOf(),
                    updateTime: dayjs(this.npmInfo.time[version]).format(
                      "YYYY-MM-DD HH:mm:ss"
                    ),
                  })),
                  "time",
                  "desc"
                );
                this.formData.pluginVersion = this.versions[0].version;
              }
            };
            xhr.send();
          },
        },
      });
    </script>
  </body>
</html>
